.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}

.api-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.api-select label {
  padding: 0 .5em 0 2em;
}

.api-select input {
  border: 1px solid blue;
}

@media all and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .api-select {
    flex-direction: column;
  }
}
