.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
