.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  cursor: pointer;
  font-size: 14px;
  height: 2em;
  width: 2em;
}

.close-btn:hover {
  background: #e67d17;
}

.results-wrapper {
  margin: 15px;
  padding: 10px;
  border: 2px solid;
  border-radius: 3px;
  border-color: #c6d6fb;
}

.age-0 { border-color: rgba(219, 50, 50, 1); }
.age-1 { border-color: rgba(239, 57, 203, 1); }
.age-2 { border-color: rgba(17, 79, 224, 1); }
.age-3 { border-color: rgba(255, 255, 35, 1); }
.age-4 { border-color: rgba(155, 255, 56, 1); }

.button-wrapper {
  display: flex;
  flex-direction: column;
}

.results-body {
  width: 100%;
}

.results-wrapper h3 {
  margin-top: 0;
  position: relative;
}

.results-wrapper h3 span {
  text-transform: capitalize;
}

.results-wrapper img {
  max-width: 100%;
  height: 150px;
}

.grid-item {
  width: 30%;
}

@media all and (max-width: 900px) {
  .grid-item {
    width: 45%;
  }
}

@media all and (max-width: 600px) {
  .grid-item {
    width: 90%;
  }
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
}

.sub-item {
  max-width: 50%;
  text-align: center;
}

@media all and (max-width: 900px) {
  .horizontal-flex {
    flex-direction: column;
  }

  .sub-item {
    max-width: inherit;
  }
}

.sierra {
  text-align: left;
}

.sierra .book {
  padding-left: 2em;
}

.sierra .book:before {
  content: "\1F4DA";
  margin-left: -2em;
  padding-right: 1em;
}

.sierra .author {
  font-size: 0.8em;
}


@media all and (max-width: 600px) {
  .horizontal-flex {
    flex-direction: column;
  }
}

.archives {
  text-align: left;
  padding-left: 2em;
}

.archives .person:before {
  content: "\1F575";
  margin-left: -2em;
  padding-right: 1em;
}

.archives .default:before {
  content: "\1F4DA";
  margin-left: -2em;
  padding-right: 1em;
}

.omeka {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.omeka img {
  margin: 3px;
  float: left;
}
