.close-btn {
  width: 2em;
  height: 2em;
  text-align: center;
  border-radius: 50rem;
  align-self: flex-end;
  background: #004bb4;
  border: none;
  color: #fff;
  align-self: flex-end;
  cursor: pointer;
  margin-left: 2em;
}

.close-btn:hover {
  background: #e67d17;
}

.results-wrapper {
  margin: 15px;
  padding: 10px;
  border: 3px solid;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
}

.results-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.results-wrapper h3 {
  text-transform: capitalize;
}

.results-wrapper img {
  max-width: 100%;
  height: 150px;
}

.grid-item {
  width: 400px;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
}

.sierra {
  text-align: left;
}

.sierra .book {
  padding-left: 2em;
}

.sierra .book:before {
  content: "\1F4DA";
  margin-left: -2em;
  padding-right: 1em;
}

.sierra .author {
  font-size: 0.8em;
}

@media all and (max-width: 600px) {
  .horizontal-flex {
    flex-direction: column;
  }
}

.latest-results {
  border-color: #114fe0;
}

.prev-results {
  border-color: #3db1ff;
}

.old-results {
  border-color: #b5e1ff;
}

.archives {
  text-align: left;
  padding-left: 2em;
}

.archives .person:before {
  content: "\1F575";
  margin-left: -2em;
  padding-right: 1em;
}

.archives .default:before {
  content: "\1F4DA";
  margin-left: -2em;
  padding-right: 1em;
}
