* {
  font-family: 'Open sans', sans-serif;

}

.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}

.App-header {
  background: #004bb4;
  display: flex;
  flex-wrap: row wrap;
}


.App-header-img {
  border-radius: 50%;
  margin: 2em 2em .5em -4em;
  height: 5em;
  z-index: -1;
}

.App-header-logo {
  margin: 2em 25em 2em 2em;
  width: 35%;
}

.App-title {
  color: white;
  margin-right: 1em;
  z-index: 1;
}

@media all and (max-width: 500px) {
  .App-header-img {
    display: none;
  }
}
