* {
  font-family: 'Open sans', sans-serif;

}

.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}

.App-header {
  background: #004bb4;
  width: 50%;
}

.App-header-img {
  padding: 1em;
  border-radius: 7.5em;
}

.App-title {
  color: white;
}

@media all and (max-width: 500px) {
  .App-header-img {
    display: none;
  }
}
